Source: libsigrokdecode4dsl
Priority: optional
Maintainer: Joonas Javanainen <joonas.javanainen@gmail.com>
Build-Depends: debhelper-compat (= 12),
  dh-python,
  autotools-dev,
  libglib2.0-dev (>= 2.32.0),
  pkg-config (>= 0.22),
  python3-dev (>= 3.2)
Standards-Version: 4.6.0
Section: libs
Homepage: https://github.com/DreamSourceLab/DSView
Vcs-Browser: https://github.com/Gekkio/dsview-debian
Vcs-Git: https://github.com/Gekkio/dsview-debian.git
Rules-Requires-Root: no

Package: libsigrokdecode4dsl-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsigrokdecode4dsl4 (= ${binary:Version}), ${misc:Depends},
  libglib2.0-dev (>= 2.32.0),
  python3-dev (>= 3.2)
Description: libsigrokdecode4DSL - development files
 DreamSourceLab fork of libsigrokdecode.
 .
 This package contains the header files and other development files

Package: libsigrokdecode4dsl4
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: libsigrokdecode4DSL
 DreamSourceLab fork of libsigrokdecode.
 .
 This package contains the shared library and the protocol decoders.
